<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @homework.teacher %>
</p>

<p>
  <strong>Course:</strong>
  <%= @homework.course %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @homework.activity %>
</p>

<p>
  <strong>Title:</strong>
  <%= @homework.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @homework.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @homework.status %>
</p>

<%= link_to 'Edit', edit_homework_path(@homework) %> |
<%= link_to 'Back', homeworks_path %>
